h1{font-size: 40px;
    color:aqua}
    h2{font-size:40px;
    color:blue}
    h3{font-size: 40px;
    color:blueviolet}
    h4{font-size: 40px;
    color:darkred}
    h5{font-size: 40px;
    color:fuchsia}
    h6{font-size: 40px;
    color:green}
    


    
